.big {
size: 10px;
}

.link {
 background-color: #11FF11;
 font-size: 20px;
 border-radius: 10px;
 padding: 10px;
 display: block;
 text-align: center;
 margin: 10px;
 color: slateblue;
 text-decoration: none;
}

a {
 margin: 30px;
 padding: 3px 12px;
 border-radius: 20px;
 font-weight: bold;
 border: 0px solid;
 outline: none;
 background-color: #D9E8FB;
 color: #4D4D87;
 text-decoration: none;
}

iframe {
padding: 25px; 
border: none; 
height: 400px; 
width: 320px;
}
